body {
  background-color: black;
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;

}

/**header**/
header{
  position: fixed;
  border-bottom:1px solid seashell;
  margin-bottom:10px;
  margin-right: 10px;
  height: 69px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  background-color: black;
}
header a:link, a:visited{
  color: seashell;
}

.logo{
  justify-content: flex-start;
}

.logo img{
  height: 50px;
}

.nav span{
   text-decoration: underline;
   padding-right: 20px;
}
/**end of header**/

/**body**/

/**Container**/
.container{
  display: block;
  justify-content: center;
  padding-top: 69px;
  margin:auto;
  text-align: center;
}

h2, h3, h4{
  margin: 0;
  padding: 10px;
}
/**contrainer**/

/**item-mission**/
#mission.imgmission{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
  width: 1200px;
  height: 700px;
  background-size: cover;
  margin: 0 auto;
  align-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: black;
  width: 100%;
  margin: 0;
}

/**item-mission**/

/**tea**/
#teas{
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 30px;
}

#teas h2{
  padding-bottom: 0;
}
.catalogue{
    display: inline-flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.imgsmall{
  width: 300px;
  height: 200px;
  margin: 10px;
  display: block;
  padding-bottom: 10px;
  padding-top: 12px;

}

/**tea**/

/**location**/
#locations.imgloc{
  height: 500px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-image: no-repeat;
  margin: 0 auto;
  padding-top: 75px;

}

.addy{
display: inline-flex;
justify-content: center;
width: 300px;
height: 300px;
opacity: 1;
background-color: black;
line-height: 280%;
margin-left: 40px;
margin-top: 15px;
}

.addy span{
text-align: center;
}

#dt{
  padding: 0 60px;
}

#eb{
  padding: 0 10px;
}

#oak{
  padding: 0 40px;
}

/**location**/

/**footer**/
.contact{
  height: 200px;
  margin: 0;
  text-align: center;
}

#copyright {
  text-align: left;
  padding-left: 20px;
  margin: 0;
}

.lineheight{
  line-height: 1.8em;
}
